// ================
// Shared SVG
// ================

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90vmin;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

g,
path {
  transform-origin: 50% 50%;
}

// ================
// Cupid
// ================

.cupid {
  z-index: 200;
  pointer-events: auto;
  cursor: nw-resize;
  max-width: 70vmin;
  animation: float 2s infinite;
  transition: top 1s, left 2s, opacity 0.3s;

  &.poofed {
    top: -120%;
    left: -85%;
  }
}

@keyframes float {
  50% {
    transform: translate(-52%, -55%) rotate(2.5deg) scale(1.05);
  }
}

#cutie-face {
  animation: nod 0.75s 3;
}

@keyframes nod {
  50% {
    transform: rotate(-5deg);
  }
}

#wink {
  animation: wink 0.5s 3;
}

@keyframes wink {
  50% {
    transform: scaleY(0);
  }
}

#wing-foreground,
#wing-background {
  animation: wiggle-wing 0.35s infinite;
  transform-origin: 50% 100%;
}

@keyframes wiggle-wing {
  50% {
    transform: rotateX(35deg);
  }
}

#sparkles {
  path {
    transform: scale(0);

    @for $i from 1 through 40 {
      &:nth-child(#{$i}) {
        animation: bling-bling 0.5s 0.05s * $i infinite;
      }
    }
  }
}

@keyframes bling-bling {
  80% {
    transform: scale(2);
  }
}

// ================
// Message
// ================

.message {
  pointer-events: none;

  path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 20px;

    @for $i from 1 through 34 {
      &:nth-child(#{$i}) {
        .poofed ~ & {
          animation: draw 0.2s 0.075s * $i + 0.25s forwards,
            draw-message 0.2s 0.075s * $i + 0.25s forwards;
        }
      }
    }
  }
}

@keyframes draw {
  80% {
    fill: transparent;
  }

  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

@keyframes draw-message {
  80% {
    stroke: #fff;
  }

  100% {
    stroke: transparent;
  }
}

// ================
// idfive
// ================

.idfive {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  width: 15vmin;
  padding: 5vmin;
  transform: none;

  * {
    fill: #fff;
    opacity: 0;
    transform: scale(0.25);
    transform-origin: 50% 50%;
    transition: opacity 0.2s, transform 0.2s;

    .poofed ~ & {
      opacity: 1;
      transform: scale(1);
    }

    @for $i from 1 through 15 {
      $x: 15 - $i;

      &:nth-child(#{$x}) {
        .poofed ~ & {
          transition: opacity 0.2s 0.05s * $i + 3s,
            transform 0.2s 0.05s * $i + 3s;
        }
      }
    }
  }
}

// ================
// Clouds
// ================

.clouds {
  pointer-events: none;

  g {
    opacity: 0;
    transition: opacity 1s;

    .poofed ~ & {
      opacity: 1;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        .poofed ~ & {
          animation: sway 2s 0.225s * $i infinite;
          transition: opacity 2s 0.075s * $i;
        }
      }
    }
  }
}

@keyframes sway {
  30% {
    transform: translate(-4em, -1em);
  }

  80% {
    transform: translate(2em, 1em);
  }
}

// ================
// Cloud Lines
// ================

.cloud-lines {
  path {
    opacity: 0;
    fill: transparent;
    stroke: #747a9b;
    transform: scale(0.925);

    .poofed ~ & {
      opacity: 1;
    }

    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        .poofed ~ & {
          animation: billow 2s 0.025s * $i + 1.5s infinite ease,
            draw 0.15s 0.015s * $i + 1.5s forwards;
          transition: opacity 0.5s 0.15s * $i + 1.5s;
        }
      }
    }
  }
}

@keyframes billow {
  50% {
    transform: scale(1);
  }
}

// ================
// Refresh
// ================

.action {
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 0;
  margin: 0;
  padding: 1em 1.25em;
  font-size: 4vmin;
  line-height: 1;
  background: none;
  outline: 0;
  transform: translate(-50%, 0);

  span {
    display: inline-block;
    transform-origin: center bottom;

    @for $i from 1 through 18 {
      @at-root .action:hover span:nth-of-type(#{$i}) {
        animation: bubble 0.75s random(100) * 0.01s infinite;
      }
    }
  }
}

.tickle {
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  transition: opacity 0.3s 2s, visibility 0.3s 2s;

  .poofed ~ & {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.refresh {
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  .poofed ~ & {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 4s, visibility 0.3s 4s;
  }
}

@keyframes bubble {
  50% {
    transform: scale(1.25);
  }
}

// ================
// Structure
// ================

html {
  overflow: hidden;
  height: 100%;
  font-family: "Sacramento";
  background: #c2d9d9;
  color: #fff;
}
